<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    {% assign author = site.authors[page.author] %}
    <section>
      <h4>Author</h4>
      <span>{{ author.display_name }}</span>
      {% if author.twitter %}
        <span> / <a href="http://twitter.com/{{ author.twitter }}">Twitter</a></span>
      {% endif %}
      {% if author.facebook %}
        <span> / <a href="http://www.facebook.com/{{ author.facebook }}">Facebook</a></span>
      {% endif %}
      {% if author.github %}
        <span> / <a href="http://github.com/{{ author.twitter }}">GitHub</a></span>
      {% endif %}
      {% if author.site %}
        <span> / {{ author.site }}</span>
      {% endif %}
      {% if author.gravatar %}
        <br><img src="http://0.gravatar.com/avatar/{{ author.gravatar }}" width="60" height="60" alt="">
      {% endif %}
      {% if author.profile %}
        <p>{{ author.profile }}</p>
      {% endif %}
    </section>
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
      <section>
        <h4>エンジニア大募集</h4>
        <p>株式会社ベーシックでは、コードを書くのが大好きなWebエンジニア・ゲームを作るのが大好きなアプリエンジニア・大量トラフィックを捌くのが快感なインフラエンジニアを大大大大募集中です。</p>
        <p>興味を持った方は<a href="http://basicinc.jp/careerentry/" target="_blank">中途採用エントリーフォーム</a>から入力していただくか、<a href="http://twitter.com/zaru" target="_blank">Twitterで@zaru</a>まで気軽にメッセージくださいませ。</p>
      </section>
  </div>
</div>
